@import "foundation_and_overrides"
html, 
body
  height: 100%
#header
  text-align: center
  text-transform: uppercase
  color: $darker-green !important
.red
  color: $red
.light-green
  color: $light-green
#howto
  background-color: #fff
  margin-bottom: 20px
  text-align: center
#controls
  background-color: #fff
  text-align: center
  margin-bottom: 20px
  h2
    background-color: $dark-blue
    margin: 0
#left-column
  background-color: #fff
#right-column
  background-color: #fff
.map_canvas
  height: 400px
#footer
  background-color: $dark-green
  text-align: center
.d3map
  width: 100%
  height: 100%
  -webkit-transform: none
  position: relative
  top: 0px
  left: 0px
  svg
    width: 100%
    height: 100%
    .truck
      fill: $success-color
      opacity: 1.0
    .container
      fill: $alert-color
      stroke-width: 1
      stroke: $alert-color
    .path
      stroke-width: 2
      stroke: $primary-color
      fill: transparent
      
