p.panel.callout
  | Solda yer alan haritada, herhangi bir çöp kamyonunun rutin güzergahı yer almaktadır. Sağdaki haritada ise çöp konteynerlerinin doluluk oranlarına ilişkin bilginin edinilmesiyle izlenmesi mümkün olan rotayı görmektesiniz. Aynı kamyon iki farklı rotayı tamamladığında tüketmiş olacağı zaman ve maddi kaynak bilgileri haritaların üzerinde yer almaktadır.
