p.panel.callout
  | Sol haritada, herhangi bir cop kamyonunun bir round(tr)unun rotasini gorebilirsiniz. Sag tarafta ise, coplerin doluluk oranlarinin varliginin bilgisine sahip bir cop kamyonunun rotasi. Kamyonlarin bir turu tamamladiklarinda yukaridaki fiyat ve zaman farklarini karsilastirarrak aradaki farki acikca gorebilirsiniz.
